@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.menu-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
}

.menu-header {
    text-align: center;
    background: rgb(11, 143, 121);
    padding: 10px;
    border-radius: 10px;
}

.menu-logo {
    width: 100px;
    margin-bottom: -10px;
}

.menu-header h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 28px;
    color: rgb(226, 226, 48);
}

.menu-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.menu-section {
    width: 45%;
    margin-bottom: 20px;
}

.menu-section h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background: #444;
    padding: 5px;
    border-radius: 5px;
}

.menu-section ul {
    list-style: none;
    padding: 0;
}

.menu-section ul li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 1px dotted white;
}

.menu-section ul li span {
    flex: 1;
}

.menu-section ul li span:last-child {
    text-align: right;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .menu-container {
        width: 90%;
        padding: 10px;
    }

    .menu-section {
        width: 100%;
        margin-bottom: 15px;
    }

    .menu-header h1 {
        font-size: 24px;
    }

    .menu-logo {
        width: 80px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .menu-header h1 {
        font-size: 20px;
    }

    .menu-logo {
        width: 60px;
    }

    .menu-section h2 {
        font-size: 18px;
    }

    .menu-section ul li {
        font-size: 16px;
    }
}
